SingletonPatternExample.sln
C:\Users\KIIT\Desktop\Digital Nurture HandsOn VSC\Digital-Nurture-0.4-HandsOn\Week1\Design Principles and Patterns\Implement Singleton Pattern\SingletonPatternExample\SingletonPatternExample.csproj
